@import "global";

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
}

strong {
  font-weight: 700;
  padding: 5px;
}

span {
  color: $dark-grayish-blue;
}

.container {
  height: 100vh;
  @extend %flex-center;
  background-color: $dark-cyan;
  position: relative;
  background-image: url("/images/bg-pattern-top.svg"),
    url("/images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-position: left -200px top -400px, right -100px bottom -600px;
}

.card {
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 10px 10px 10px $dark-grayish-blue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("/images/bg-pattern-card.svg");
  background-repeat: no-repeat;
  background-size: contain;

  &-profile-picture {
    margin-top: 70px;
    border-radius: 50%;
    border: 5px solid white;
  }

  &-bottom {
    width: 100%;
    height: 75px;
    text-align: center;
    padding-top: 25px;
    display: flex;
    border-top: 1px solid rgba($dark-gray, 0.3);
    justify-content: space-evenly;
    align-items: center;

    p {
      font-size: 0.8rem;
      color: $dark-grayish-blue;
    }
  }
}
